<div class="mx-5">
    <nav class="navbar navbar-dark shadow rounded" style="height: 200px; background-color: #606060;">
      <div class="container-fluid">
        <a class="navbar-brand">
          <div class="row">
            <div class="col-6 m-0 w-auto">
              <img class="img-fluid" width="150px" src="../assets/unal.png" alt="logo_unal">
            </div>
            <div class="col-6 d-flex align-items-center w-auto">
              <h2 class="text-wrap fs-2">Programa De
                Egresados UN-SIE</h2>
            </div>
          </div>
  
        </a>
      </div>
    </nav>
  
    <menu-opciones></menu-opciones>
  
    <div>
  
      <div class="container my-5">
  
        <footer class=" bg-dark text-center text-lg-start text-white rounded mx-5">
  
          <div class="text-center fs-6 p-5" style="background-color: rgba(0, 0, 0, 0.2)">
            © 2022 Copyright:
            <p>Ivan Alexander Morales Muñoz</p>
          </div>
  
        </footer>
  
      </div>
  
    </div>
  
    
</div>